<div class="bootstrap-wrapper">
      <div class="container">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-6 offset-md-3">
                      <div class="container text-center">
                            <img src="https://i.postimg.cc/25LchpgS/Warehouse-Logo-removebg-preview.png" width="150" height="150" alt=""/>
                      </div>

                      <h1 class="text-center">Login</h1>
                      <form action="">
                            <!--username-->
                            <mat-form-field class="full-width" appearence="outline">
                                  <mat-label>User Name</mat-label>
                                  <input required matInput placeholder="Enter here"/>
                                  <mat-hint>valid username</mat-hint>
                            </mat-form-field>
                            <!--password-->
                            <mat-form-field class="full-width" appearence="outline">
                              <mat-label>Password</mat-label>
                              <input type="password" required matInput placeholder="Enter here"/>
                              <mat-hint>valid password</mat-hint>
                        </mat-form-field>

                        <div class="container text-center">
                              <button mat-raised-button color="primary" type="submit">Login</button>
                        </div>
                      </form>
                </div>
            </div>
      </div>
</div>